footer.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    color: white;
    background-image: url('../img/bg-footer.png');
    background-size: 100%;
    background-position: top center;
    background-repeat: repeat-y;

    a {
        color: white;
    }

    .placa {
        width: 240px;
        height: 160px;
        background-image: url('../img/placas-footer.webp');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 16px 24px;
        margin: 0 auto;

        &.placa-1 {
            text-align: center;
        }

        a,
        h6,
        p {

            font-family: "Staatliches", sans-serif;
            color: black;
            font-size: 1.7rem;
            font-weight: 100;
        }
    }

    .social-icons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
            max-width: 50px;
            display: inline-block;
        }
    }

    @media screen and (max-width: 767.98px) {
        padding-top: 0;
        background-size: auto;

        .footer-mobile-container {
            position: relative;
            top: -50px;
        }

        .placa {
            width: 300px;
            height: 190px;
            margin-bottom: 32px;
            padding: 16px 36px;

            a,
            h6,
            p {
                font-size: 2rem;
            }

            &.placa-1 {
                transform: scale(0.7) translateX(-40px);
            }

            &.placa-2 {
                transform: scale(0.85) translateX(30px) translateY(-15px);
            }

            &.placa-3 {}
        }
    }
}