body {
    overflow: hidden;

    &.loaded {

        section.saiba-mais,
        section.o-ebook,
        section.logica-macaquista,
        section.checkout,
        section.faq,
        footer.footer {
            display: block;
        }

        section.hero {
            overflow: initial;
        }
    }
}

/* hiding sections */

.section-saiba-mais,
.section-o-ebook,
.section-product-checkout,
footer.footer {
    display: none;
}


body.loaded {
    overflow: auto;

    .section-saiba-mais,
    .section-o-ebook,
    .section-product-checkout,
    footer.footer {
        display: block;
    }
}


.hero-content {
    opacity: 0;
    transition: opacity .8s ease;

    h2,
    p,
    a,
    img {
        transition: transform .6s ease, opacity .6s ease;
        opacity: 0;
        transform: translateY(70px);
        transition-property: transform;
    }

    h2 {
        transition-delay: 100ms !important;
    }

    p {
        transition-delay: 300ms !important;
    }

    a {
        transition-delay: 500ms !important;
    }

    img {
        transition-delay: 700ms !important;
    }

    &.loaded {
        opacity: 1;

        h2,
        p,
        a,
        img {
            transition: transform .6s ease, opacity .6s ease;
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.main-loader {
    position: absolute;
    top: 40vh;
    width: 100%;
    z-index: 9999;
    transition: all .8s ease;

    .hero-logo-holder {
        h1.hero-logo {
            font-size: 5rem;
            transition: all .8s ease;
            display: inline-block;

            .estrela {
                transition: all .8s ease;
                width: 60px;
            }
        }

        .hero-logo-sub {
            font-size: 4rem;
            opacity: 0;
            transition: all .8s ease;
        }
    }



    &.loaded {
        top: 32px;

        .hero-logo-holder {
            .hero-logo {
                font-size: 2.5rem;

                .estrela {
                    width: 30px;
                }
            }

            .hero-logo-sub {
                font-size: 2rem;
                opacity: 1;
            }
        }
    }
}

/* mobile */
@media screen and (max-width: 991px) {
    .main-loader {
        .hero-logo-holder {
            h1.hero-logo {
                font-size: 2.4rem;
                line-height: 2.4rem;
                margin-bottom: 0;

                .estrela {
                    transition: all .8s ease;
                    width: 40px;
                }
            }

            .hero-logo-sub {
                font-size: 2rem;
                line-height: 1.5rem;
            }
        }



        &.loaded {
            top: 16px;

            .hero-logo-holder {
                .hero-logo {
                    font-size: 2rem;
                    line-height: 1.5rem;
                }

                .hero-logo-sub {
                    font-size: 1.5rem;
                    opacity: 1;
                }
            }
        }
    }
}