.main-loader {
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: all .8s ease;
    padding-top: 32px;

    .main-loader__logo-holder {
        text-align: center;

        /* ensure this will be included in the 'body.loaded' state */
        .main-loader__logo {
            font-size: 2.5rem;
            font-family: "Staatliches", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-shadow: var(--shadow-1);
            margin-bottom: 0;
        }

        /* ensure this will be included in the 'body.loaded' state */
        .main-loader__logo-sub {
            font-family: "Marck Script", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
            line-height: 2rem;
            text-shadow: var(--shadow-1);
        }
    }
}
