    body {
        font-family: 'Inter', Arial, sans-serif;
        color: #000;
        background-color: #fff;
        padding-top: 75px;
    }

    .navbar {
        background-color: #fff;
        border-bottom: 1px solid #eee;

        .logo-holder {
            display: inline-block;
            vertical-align: middle;

            .logo {
                width: 48px;
            }
        }

        .title-holder {
            display: inline-block;
            vertical-align: middle;

            .title {
                font-size: 18px;
                margin-bottom: 0;
            }
        }
    }

    .hero {
        padding-top: 16px;

        .card {
            border-radius: 24px;
        }

        .background {
            background-color: #399595;
            border-radius: 24px;

            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            .hero-img {
                border-radius: 24px;
            }

            .ebook-cover-holder {
                display: none;
            }
        }

        .text-holder {
            padding: 16px;

            .offer {
                margin-bottom: 16px;
            }

            .price {
                text-decoration: none;
                vertical-align: top;

                ins {
                    text-decoration: none;
                    color: #35dc45;
                    font-weight: bold;
                    font-size: 32px;
                }

                del {
                    color: #969696;
                    vertical-align: top;
                    font-weight: bold;
                    padding-top: 8px;
                    display: inline-block;
                }
            }

            .cta-holder {
                margin-bottom: 16px;

                .cta {
                    width: 100%;
                }
            }

            .product-tags {
                list-style: none;
                padding: 0;

                li {
                    display: inline-block;

                    .badge {
                        border: solid 1px #bebebe;
                        margin-bottom: 8px;
                    }
                }
            }

            .features {
                list-style: none;
                padding: 0;
            }
        }
    }


    /* mobile */
    @media screen and (max-width: 991px) {
        .hidden-mobile {
            display: none;
        }

        #mainNavbar {
            position: relative;
            height: calc(100vh - 75px) !important;

            .navbar-nav {
                position: absolute;
                bottom: 20px;
                right: 0;

                li {
                    text-align: right;

                    a {
                        font-size: 48px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .hero {
            .background {
                background-color: #399595;
                border-radius: 24px;

                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;

                .hero-img {
                    border-radius: 24px;

                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                    max-width: 200px;
                    display: inline-block;
                }

                .ebook-cover-holder {
                    display: inline-block;
                    width: 100px;
                    border-radius: 0;
                }
            }
        }
    }

    /* non mobile */
    @media screen and (min-width: 992px) {}