.faq {
    background-color: white;
    padding-top: 64px;
    padding-bottom: 64px;
    display: none !important;

    .section-title {
        font-size: 4rem;
    }

    .faq-list {

        .accordion-item {
            border: none !important;
            border-bottom: solid 3px #bebebe !important;
            font-family: 'Roboto', sans-serif;

            h2 {
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
            }

            .accordion-button {
                font-size: 1.5rem;
                outline: 0 !important;
                box-shadow: none !important;
                border-bottom: solid 1px #bebebe !important;
                color: black !important;
                font-weight: normal;
            }

            .accordion-button:not(.collapsed) {
                background-color: #f5f5f5;
            }

            .accordion-body {
                background-color: #f5f5f5;
                font-size: 1.5rem;
            }
        }
    }
}


@media screen and (max-width: 992px) {
    .faq {
        padding-top: 32px;
        padding-bottom: 32px;

        .section-title {
            font-size: 2rem;
        }

        .faq-list {

            .accordion-item {

                .accordion-button {
                    font-size: 1.2rem;
                }

                .accordion-body {
                    background-color: #f5f5f5;
                    font-size: 1.2rem;
                }
            }
        }
    }
}