footer.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    color: white;
    background-image: url('../../img/bg-footer.png');
    background-size: 100%;
    background-repeat: repeat-y;

    a {
        color: white;
    }
}