.o-ebook {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff920;
    color: black;
    text-shadow: none;
    position: relative;

    .gorivaldo-professor-holder {
        position: absolute;
        max-width: 500px;
        top: 30%;
        left: 0;

        .gorivaldo-professor {
            max-width: 100%;
        }
    }

    .section-title {
        font-size: 3rem;
        border-bottom: solid 2px #000000;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 990px;
        text-align: center;
    }

    .benefits-list {
        list-style: none;
        padding: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;

        li {
            margin-bottom: 32px;

            &:nth-child(odd) {
                padding-left: 80px;

                .item-content {
                    transform: translateX(-80px);
                }
            }

            &:nth-child(even) {
                padding-right: 80px;

                .item-content {
                    transform: translateX(80px);
                }
            }
        }

        .item-content {
            background: white;
            padding: 16px;
            border-left: solid 8px;
            box-shadow: 0px 4px 0 black;

            p {
                margin-bottom: 0;
                font-weight: 400;
            }
        }
    }

    .floating-banana-holder {
        position: absolute;
        bottom: -100px;
        right: 60px;
        width: 300px;

        .floating-banana {
            max-width: 100%;
            transform: rotate(25deg);
        }
    }
}

@media screen and (max-width: 991px) {
    section.o-ebook {
        padding-top: 32px;
        padding-bottom: 32px;

        .gorivaldo-professor-holder {
            left: 20px;
            top: 60px;
            max-width: 120px;
        }

        h3.section-title {
            font-size: 2rem;
            padding-bottom: 16px;
            margin-bottom: 32px;
            float: right;
            text-align: right;
            max-width: 250px;
        }

        .benefits-list {

            li:nth-child(even),
            li:nth-child(odd) {
                padding-left: 0;
                padding-right: 0;

                .item-content {
                    transform: none;
                }
            }
        }

        .floating-banana-holder {
            bottom: -50px;
            right: 30px;
            width: 120px;
        }
    }
}