.product-checkout {
    padding-top: 64px;
    background-color: #036363;

    .section-title {
        font-family: "Staatliches", sans-serif;
        font-size: 4rem;
        border-bottom: solid 2px #cccccc;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 990px;
        text-align: center;
        color: white;
        text-shadow: -4px 4px 0 black;
        font-weight: 100;
    }

    .card {
        border-radius: 0;
        box-shadow: -8px 8px 0 black;
        border: none;
        padding: 16px;
    }

    .product-cta {
        border-radius: 0;
        font-size: 1.5rem;
        box-shadow: -4px 4px 0px black;
        text-transform: uppercase;
        padding: 8px 16px;
        background-color: #ffca28;
        color: black;
        font-weight: 500;
        vertical-align: top;

        .product-cta-icon {
            width: 24px;
            vertical-align: middle;
            display: inline-block;
            margin-bottom: 6px;
        }
    }

    .product-image-holder {
        text-align: center;
        margin-bottom: 32px;

        .product-image {
            box-shadow: -2px -4px 30px #000000b0;
            width: auto;
            height: auto;
            max-height: 375px;
            display: inline-block;
        }

        figcaption {
            display: none;
        }
    }

    .product-info-holder {
        .product-offer {
            font-family: "Staatliches", sans-serif;
            background-color: #cd0f0f;
            color: white;
            padding: 4px 12px;
            font-weight: 400;
            display: inline-block;
            font-size: 1.2rem;
            letter-spacing: 1px;
            margin-bottom: 16px;
        }

        .product-header-holder {
            max-width: 480px;
            margin-bottom: 16px;
        }

        h2.product-title {
            font-size: 2.5rem;
            margin-bottom: 0;
        }

        .product-short-description {
            font-weight: 300;
            margin-bottom: 0;
        }

        .product-price-holder {
            margin-bottom: 16px;

            .product-original-price {
                margin-bottom: 0;

                del {
                    color: #969696;
                    font-weight: 500;
                    padding-top: 8px;
                    display: inline-block;
                }
            }

            .product-price {
                margin-bottom: 0;
                white-space-collapse: discard;

                .product-price-item {
                    vertical-align: top;
                    display: inline-block;
                    color: black;
                    font-weight: 500;
                    font-size: 4rem;
                    line-height: 4rem;

                    &.product-price-item-currency {
                        font-size: 1.3rem;
                        line-height: 2rem;
                    }

                    .cents {
                        font-size: 1.3rem;
                        vertical-align: top;
                        line-height: 2rem;
                    }
                }

                .product-discount {
                    font-family: "Staatliches", sans-serif;
                    background-color: #ddffdd;
                    color: #36a436;
                    padding: 1px 10px;
                    font-weight: 400;
                    display: inline-block;
                    font-size: 1.2rem;
                    margin-top: 12px;
                    margin-left: 8px;
                }
            }

            .product-installments {
                color: #1d1d1d;
                margin-bottom: 0;
            }
        }

        .product-cta-holder {
            margin-bottom: 32px;

            .product-cta {
                .product-cta-icon {}
            }
        }

        .product-extra-info-holder {
            .product-extra-info-list {
                font-weight: 400;
                list-style: none;
                padding: 0;
            }
        }
    }

    .product-reviews-holder {
        padding-left: 64px;

        margin-bottom: 48px;

        .product-review {
            max-width: 480px;
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: solid 1px #f0f0f0;

            .review-header {
                vertical-align: top;

                .review-image-holder {
                    width: 48px;
                    display: inline-block;

                    .review-image {
                        border-radius: 100%;
                        display: block;
                        max-width: 100%;
                    }
                }

                .review-user-holder {
                    margin-left: 16px;
                    display: inline-block;

                    address {
                        margin-bottom: 0;
                    }

                    .review-user-name {
                        font-size: 1rem;
                    }
                }

                .review-rating-holder {
                    .review-rating-value {
                        display: none;
                    }

                    .review-rating-stars {
                        color: orange;
                        font-size: 1rem;
                    }
                }
            }

            .review-text-holder {
                .review-text {
                    font-weight: 300;
                    font-size: 1rem;
                }
            }
        }
    }

    .product-description-holder {
        .product-features {
            padding-left: 20px;
            max-width: 480px;
            margin-bottom: 48px;

            li {
                font-weight: 300;
                line-height: 1.4rem;
                margin-bottom: 16px;
                font-size: 1.2rem;
            }
        }
    }

    .product-last-cta-title-holder {

        .product-last-cta-title-main-line {
            font-size: 1.75rem;
            line-height: 1.4;
            margin-bottom: 2rem;
            color: #111;
            font-style: italic;
            text-align: center;
        }

        .product-last-cta-title-secondary-line {
            font-size: 1.25rem;
            line-height: 1.5;
            color: #333;
            margin-bottom: 3rem;

            text-align: center;
        }
    }

    .product-image-slider {


        .slick-arrow {
            display: inline-block;
            position: absolute;
            height: 32px;
            top: calc(50% - 20px);
            background: none;
            border: none;
            font-size: 0;
            z-index: 10;

            &::after {
                content: '';
                position: absolute;
                /* Adjust as needed */
                top: calc(50% - 16px);
                transform: translateY(-50%) rotate(-45deg);
                border: solid black;
                /* Creates the arrow head */
                display: inline-block;
                padding: 16px;
            }

            &.slick-prev {
                left: 16px;

                &::after {
                    border-width: 3px 0 0 3px;
                }
            }

            &.slick-next {
                right: 66px;

                &::after {
                    border-width: 0 3px 3px 0;
                }
            }
        }

        .slick-dots {
            list-style-type: none;
            padding: 0;
            text-align: center;
            width: 100%;

            li {
                padding: 0 6px;
                display: inline-block;

                button {
                    font-size: 0;
                    background: #cccccc;
                    border-radius: 100%;
                    border: none;
                    padding: 0;
                    width: 16px;
                    height: 16px;
                }

                &.slick-active {
                    button {
                        background: #999999;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .product-checkout {

        .product-cta {
            font-size: 1.2rem;
            padding: 8px 4px;
            width: 100%;
        }

        .section-title {
            font-size: 2.5rem;
            border-bottom: none;
            margin-bottom: 32px;
            font-weight: 300;
        }


        .product-image-slider {
            .slick-arrow {
                &.slick-prev {
                    left: -10px;
                }

                &.slick-next {
                    right: 24px;
                }
            }
        }

        .macacolandia-noite {
            display: none;
        }

        .card {
            margin-bottom: 80px;
        }

        .macacolandia-noite-mobile {
            display: block;
            width: 100%;
            height: 220px;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            background-image: url('../../img/macacolandia-noite.png');
        }

        .product-reviews-holder {
            padding-left: 0;
        }

        .product-description-holder {
            .product-features {
                li {
                    font-size: 1rem;
                }
            }
        }

        .product-info-holder {
            .product-offer {
                width: calc(100% + 32px);
                margin-left: -16px;
                margin-right: -16px;
                display: block;
                position: relative;
            }
        }
    }
}